XF86MonBrightness{Down,Up}
	xbacklight -{dec,inc} 5; echo $(xbacklight) > $HOME/.cache/BACKLIGHT

XF86AudioMute
	amixer set Master toggle
XF86Audio{Lower,Raise}Volume
	amixer set Master 5%{-,+}

super + d
	dmenu_run
super + Return
	termite
super + l
	slock

super + shift + e
	matc --exit
super + {_,shift +,alt +} {Up,Right,Down,Left}
	matc --{focus,move,reparent}-{up,right,down,left}
super + {Escape,grave}
	matc --view-{out,in}
super + {f,r}
	matc --view-{leaf,root}
super + {shift + Tab,Tab}
	matc --view-{backward,forward}
super + Page_{Up,Down}
	matc --view-{backward,forward}
super + space
	matc --transpose
super + shift + {q,k}
	matc --{close,kill}-window
